// Add any custom Sass & CSS here
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Limelight');


h1 {
  font-family: 'Limelight', cursive;
}

body, h2, h3, h4, h5, h6, p {
  font-family: Open Sans;
  font-weight: 400;
}

.card {
  background-color: #2199e8;
  padding: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  
  h4, h5, p {
    color: white;
  }
}

